@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a softer look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #e9d5ff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d8b4fe;
}
